apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namePrefix: dev-
resources:
  - ../../base
patches:
  - target:
      kind: Deployment
      name: hello-openshift
    patch: |
      - op: replace
        path: /spec/replicas
        value: 1
